<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<!-- STREAMS -->
	<category label="50100">
		<setting id="streams_folder" label="50101" type="folder" source="auto" option="writeable"/>
                <setting id="source_folder" label="50102" type="folder" source="auto" option="writeable"/>
                <setting id="thumbs_folder" label="50103" type="folder" source="auto" option="writeable"/>
                <setting id="use_thumb" label="50104" type="bool" default="true"/>
                <setting id="generate_nfo" label="50105" type="bool" default="true"/>
	</category>
</settings>
